

<div class="container animated fade fadeIn fast mt-5">
    <div class="row">
        <div class="col">
            <!--recordar que si se va a obtener el valor del input se debe agregar el #(nombre de la varible) tal cual como está el #termino-->
            <input #termino type="text" (keyup)="buscarArtista(termino.value)" class="form-control"
                placeholder="Buscar...">
            <app-tarjeta class="mt-5" [items]="listado"></app-tarjeta>
        </div>
    </div>
</div>
<!--Agregando componente loading a la página-->
<app-loading *ngIf="cargando"></app-loading>