<div class="m-3 card-columns animated fade fadeIn">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card" *ngFor="let lista of items">
                <img src="{{lista.images | imagenesBlank}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{lista.name}}</h5>
                    <a class="stretched-link" href={{lista.external_urls.spotify}}></a>
                </div>
            </div>
        </div>
    </div>
</div>